appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1ate==0.6.0
asttokens==2.0.8
backcall==0.2.0
beautifulsoup4==4.6.3
bleach==5.0.1
capstone==4.0.2
cbor==1.0.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==7.1.2
cmsis-pack-manager==0.2.10
colorama==0.3.9
cryptography==3.4.8
daemonize==2.5.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
ecdsa==0.18.0
entrypoints==0.4
executing==1.2.0
fasteners==0.17.3
fastjsonschema==2.16.2
future==0.18.2
hidapi==0.12.0.post2
icetea==1.2.4
idna==2.7
inkscape-figures==1.0.8
inotify==0.2.10
intelhex==2.3.0
intervaltree==3.1.0
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jsonmerge==1.8.0
jsonschema==2.6.0
junit-xml==1.8
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
libusb-package==1.0.26.0
lockfile==0.12.2
lxml==4.9.1
manifest-tool==1.5.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mbed-cli==1.10.5
mbed-cloud-sdk==2.0.8
mbed-flasher==0.10.1
mbed-greentea==1.8.14
mbed-host-tests==1.8.14
mbed-ls==1.8.8
mbed-os-tools==1.8.8
milksnake==0.1.5
mistune==2.0.4
natsort==8.1.0
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.5
nose==1.3.7
notebook==6.4.12
numpy==1.23.4
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.11
plac==1.3.5
prettytable==0.7.2
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.21.9
psutil==5.6.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.2.3
pybind11==2.10.1
pycparser==2.21
pycryptodome==3.15.0
pyelftools==0.25
Pygments==2.13.0
pylink-square==0.14.2
pyocd==0.34.1
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pyserial==3.4
python-dateutil==2.8.2
python-dotenv==0.20.0
pyusb==1.2.1
PyYAML==6.0
pyzmq==23.2.1
requests==2.28.1
semver==2.13.0
Send2Trash==1.8.0
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
srt==3.5.2
stack-data==0.5.0
terminado==0.16.0
tinycss2==1.1.1
torch==1.12.1
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
typing_extensions==4.3.0
urllib3==1.26.11
voluptuous==0.13.1
vosk==0.3.43
wcwidth==0.2.5
webencodings==0.5.1
yarg==0.1.9
yattag==1.14.0
